<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>todos</h1>
        <form method="post">
            <input type="hidden" name="intent" value="createTodo" />
            <input class="new-todo" placeholder="What Needs to be done?" autofocus name="todoTitle" />
            <button type="submit">Add ToDo</button>
        </form>
    </header>
</body>

</html>